@charset "UTF-8";
:root {
    --bs-blue: #007bff;
    --bs-indigo: #6610f2;
    --bs-purple: #696cff;
    --bs-pink: #e83e8c;
    --bs-red: #ff3e1d;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffab00;
    --bs-green: #71dd37;
    --bs-teal: #20c997;
    --bs-cyan: #03c3ec;
    --bs-white: #fff;
    --bs-gray: rgba(67, 89, 113, 0.6);
    --bs-gray-dark: rgba(67, 89, 113, 0.8);
    --bs-gray-25: rgba(67, 89, 113, 0.025);
    --bs-gray-50: rgba(67, 89, 113, 0.05);
    --bs-primary: #696cff;
    --bs-secondary: #8592a3;
    --bs-success: #71dd37;
    --bs-info: #03c3ec;
    --bs-warning: #ffab00;
    --bs-danger: #ff3e1d;
    --bs-light: #fcfdfd;
    --bs-dark: #233446;
    --bs-gray: rgba(67, 89, 113, 0.1);
    --bs-primary-rgb: 105, 108, 255;
    --bs-secondary-rgb: 133, 146, 163;
    --bs-success-rgb: 113, 221, 55;
    --bs-info-rgb: 3, 195, 236;
    --bs-warning-rgb: 255, 171, 0;
    --bs-danger-rgb: 255, 62, 29;
    --bs-light-rgb: 252, 253, 253;
    --bs-dark-rgb: 35, 52, 70;
    --bs-gray-rgb: 67, 89, 113;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 67, 89, 113;
    --bs-body-color-rgb: 105, 122, 141;
    --bs-body-bg-rgb: 245, 245, 249;
    --bs-font-sans-serif: "Public Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );
    --bs-root-font-size: 16px;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 0.9375rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.53;
    --bs-body-color: #697a8d;
    --bs-body-bg: #f5f5f9;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: var(--bs-root-font-size);
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(67, 89, 113, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.shadow {
    background-color: #fff;
    box-shadow: 0 0 0.3rem 0 rgba(120, 120, 120, 0.15) !important;
}

hr {
    margin: 1rem 0;
    color: #d9dee3;
    background-color: currentColor;
    border: 0;
    opacity: 1;
}

hr:not([size]) {
    height: 1px;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.1;
    color: #566a7f;
}

h1,
.h1 {
    font-size: calc(1.3625rem + 1.35vw);
}
@media (min-width: 1200px) {
    h1,
    .h1 {
        font-size: 2.375rem;
    }
}

h2,
.h2 {
    font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
    h2,
    .h2 {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: calc(1.2875rem + 0.45vw);
}
@media (min-width: 1200px) {
    h3,
    .h3 {
        font-size: 1.625rem;
    }
}

h4,
.h4 {
    font-size: calc(1.2625rem + 0.15vw);
}
@media (min-width: 1200px) {
    h4,
    .h4 {
        font-size: 1.375rem;
    }
}

h5,
.h5 {
    font-size: 1.125rem;
}

h6,
.h6 {
    font-size: 0.9375rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[title],
abbr[data-bs-original-title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul {
    padding-left: 2rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
    font-weight: 900;
}

small,
.small {
    font-size: 85%;
}

mark,
.mark {
    padding: 0.2em;
    background-color: #fcf8e3;
}

sub,
sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    color: #696cff;
    text-decoration: none;
}
a:hover {
    color: #5f61e6;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

pre,
code,
kbd,
samp {
    font-family: var(--bs-font-monospace);
    font-size: 1em;
    direction: ltr /* rtl:ignore */;
    unicode-bidi: bidi-override;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: 85%;
}
pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

code {
    font-size: 85%;
    color: #e83e8c;
    word-wrap: break-word;
}
a > code {
    color: inherit;
}

kbd {
    padding: 0.2rem 0.4rem;
    font-size: 85%;
    color: #fff;
    background-color: rgba(67, 89, 113, 0.9);
    border-radius: 0.25rem;
}
kbd kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 700;
}

figure {
    margin: 0 0 1rem;
}

img,
svg {
    vertical-align: middle;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #a1acb8;
    text-align: left;
}

th {
    font-weight: 600;
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

label {
    display: inline-block;
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}
select:disabled {
    opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.logout-container,
.login-container {
    display: none;
}

.login-container > .card-btn,
.logout-container > .card-btn {
    margin-top: 1rem;
}

.flex {
    display: flex;
}

#staking-page .card {
    margin-right: 2rem;
    max-width: 380px;
    border-radius: 10px;
}

#staking-page {
    margin-top: 2rem;
}

.page-heading {
    padding: 1.5rem 0;
}

.alert-message p {
    margin-block-end: 0 !important;
}

.staking-page-stakingarea {
    max-width: 380px;
}

.staking-page-stakingarea .card-btn {
    width: 100%;
}

.staking-page-stakingarea .btn-success {
    width: calc(100% - 40px);
}

.switch-action-toggler {
    width: 40px;
    height: 40px;
    border: 1px solid;
}

.account-pic {
    width: 40px;
    margin-right: 16px;
    float: left;
}

.account-info {
    padding: 0;
}

.diagram-icon {
    float: left;
    font-size: 40px;
    margin: 3px 22px 0 0;
}

.btn-primary {
    background-color: #696cff !important;
    border-color: #696cff !important;
}

.btn-light {
    background-color: #eee !important;
    border-color: #eee !important;
}

.btn-success {
    background-color: #5bb72a !important;
    border-color: #5bb72a !important;
}

.btn-max {
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border: solid 1px #c3c3c3;
    border-left: none;
    color: #777;
    min-width: 40px;
    padding: 0;
    font-size: 12px !important;
}

.btn-dashboard-logout {
    font-size: 10px;
    padding: 2px 10px;
    background-color: transparent !important;
    border-color: #777 !important;
    color: #777 !important;
}

.dashboard-right {
    margin-left: 20px !important;
}

.dashboard-left {
    margin-right: 20px !important;
}

.f-right {
    float: right;
}

.logo {
    width: 40px;
    margin-right: 10px;
}

.form-control {
    border: none !important;
}

.btn-dashboard-logout {
    font-size: 10px;
    padding: 2px 10px;
    background-color: transparent !important;
    border-color: #777 !important;
    color: #777 !important;
}

.btn-dashboard-show-stats {
    font-size: 10px;
    padding: 2px 10px;
    background-color: transparent !important;
    border-color: #007bff !important;
    color: #007bff !important;
}

.add-wallet {
    width: 200px;
    margin: 0 auto;
}

.total-saldo {
    margin: 0 0 24px !important;
    padding: 0 0 0 12px !important;
}

.wallet-analytics {
    margin: 0 0 24px !important;
    padding: 0 12px 0 0 !important;
}

.navbar-collapse {
    justify-content: space-between;
}