@import '../../assets/sass/colors'
@import '../../assets/sass/breakpoints'

.address-or-name
    position: relative
    max-width: 240px
    overflow-wrap: break-word
    display: flex !important
    flex-direction: row
    line-height: 0 !important

    .form-check-label
        cursor: pointer
        transition: 0.5s color
        position: relative
        top: 0.72rem
        &:hover
            color: $primary-green
    p
        font-size: 14px
        left: 0.2em

.wallet-info__item
    border-bottom: 1px solid $light-gray
    padding-top: 1.2em
    &.total
        padding-bottom: 1em

.wallets-container
    overflow: scroll

.wallets-panel__token-name
    font-size: 12px

.vendor-logo
    width: 60px
    margin-bottom: 4px
    filter: brightness(1.1)

.word-break
    word-break: break-all !important
    overflow-wrap: break-word !important

.bg-grey-900    
    background-color: #f7f7f7 !important

.text-justify
    text-align: justify

.mxw-400
    max-width:400px

.t7t
    font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
    font-weight: 700
    font-style: normal
    font-size: 10px
    line-height: 1

.json-editor
    overflow: hidden !important
    max-width:400px

.selector
    border: none !important
    
    

@media (min-width: 640px)
    .diagram 
        max-width: 1000px
        margin:0 auto


@media (max-width: 640px)
    .json .add, .json .key, .json .type, .json .remove
        margin-bottom: 1em

@media (max-width: 636px) and (min-width: 553px)
    .json .remove
        margin-left: 68px
    // .json .type
    //     margin-left: 68px

@media (max-width: 552px) and (min-width: 415px)
    .json .type
        margin-left: 68px

@media (max-width: 414px)
    .json .key, .json .type
        width: 100%     
    .json .key, .json .type, .json .remove
        margin-left: 20px     